        body {
          margin: 0;
          padding: 0;
        }

        #map {
          position: absolute;
          top: 0;
          bottom: 0;
          width: 100%;
        }

        @media only screen and (min-width: 800px) {
            /* CSS for devices with size > min-width */
            #mapsmall {
              width:300px;
              height:300px;
              margin-left:10px;
              margin-top:10px;
              border:10px solid gray;
            }
        }
