<!-- /*********************** footer.html ***********************************/ -->
    <footer class="container">
      <hr />
      <iframe src="https://duckduckgo.com/search.html?width=200&kn=1&site=roblabs.com&prefill=Search RobLabs.com&bgcolor=#000000" style="overflow:hidden;margin:0;padding:0;width:258px;height:40px; margin-left: 2%;" frameborder="0"></iframe>

      <div class="site-footer clearfix" style="margin-left: 2%;">
        <a href="/">
          <span class="mega-octicon octicon-home" style="margin-left: 2%;"></span>
        </a>

        <ul class="site-footer-links no-style-list">
          <li>&copy; 2014 - {{ site.time | date: '%Y' }}.  <span>ePi Rational</span>, Inc. and contributors.  All Rights Reserved. <a href="/Legal">Legal.</a></li>
        </ul>
      </div>
    </footer>
    <script src="/assets/vendor/anchor-js/anchor.min.js"></script>
    <script src="/assets/vendor/jquery/dist/jquery.min.js"></script>

    <script>anchors.add('.org-type h4');</script>
    {% if page.url == "/community/" %}
      <script src="/assets/js/community.js"></script>
    {% elsif page.url == "/" %}
      <script src="/assets/js/home.js"></script>
    {% endif %}
