---
layout: default
title: Blog
---

<article class="container">
{% for post in paginator.posts %}
  {% unless post.draft %}
    <section class="index">
        <!-- {% if post.author.image %}<img src="/images/{{ post.author.image }}" class="avatar">{% endif %}-->
        <div>
            <h2 class="title"><a href="{{ post.url }}" rel="prefetch">{{ post.title }}</a></h2>
            <p>
              <time pubdate datetime="{{ post.date | date: "%Y-%d-%B" }}" title="{{ post.date | date: "%B %d, %Y" }}">{{ post.date | date: "%B %d, %Y" }}</time>
                {% if post.excerpt %}  &mdash;  {{ post.excerpt }}
                {% endif %}
            </p>
            {% if post.excerpt_img %}
              <a href="{{ post.url }}" rel="prefetch">
                <img src="/assets/img/{{ post.excerpt_img }}" style="max-height: 500px; max-width: 500px;">
              </a>
            {% endif %}
        </div>
        <hr>
    </section>
    {% endunless %}
    {% endfor %}
    <!-- Pagination links -->
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
      {% else %}
        <span class="previous">Previous</span>
      {% endif %}
      <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">Next</a>
      {% else %}
        <span class="next ">Next</span>
      {% endif %}
    </div>
</article>
