---
layout: default
---

{% if page.include.livephotoskit %} {% include livephotoskit.js %} {% endif %}
{% if page.include.naturalatlas %}  {% include naturalatlas.js %}  {% endif %}
{% if page.include.twitter %}       {% include twitter.js %}       {% endif %}

<div class="post" style="margin-left: 20px;margin-right: 20px;">

  <header class="post-header">
    <h3 class="post-title">{{ page.title }}</h3>
    <h4> By {% if page.author %} <a href="/#social" target="_blank">{{ site.author }}</a>{% endif %}</h4>
    <p class="post-meta"><b>{{ page.date | date: "%b %-d, %Y" }}</b>
<!-- bulletdelimiter: {{ bulletdelimiter }} -->
      {% assign bulletdelimiter = " • " %}
      {{ bulletdelimiter }}
<!-- tagdelimiter: {{ tagdelimiter }} -->
      {% assign tagdelimiter = "&nbsp;" %}
      {% for tag in page.tags %}{{ tag }}{% if tag != page.tag.last %}{{ tagdelimiter }}{% endif %}
      {%endfor %}
      {{ bulletdelimiter }}File under — <span style="font-size:10px; font-family: 'Roboto Mono';">
        {% assign delimiter = "," %}
        {% for category in page.categories %}{{ category }}{% if category != page.categories.last %}{{ delimiter }}{% endif %}{% endfor %}</span>
    </p>
  </header>

  {% if page.youtube %}
    <iframe id="youtube-iframe"
            width="640" height="360"
            src="https://www.youtube.com/embed/{{ page.youtube }}?enablejsapi=1&origin=http://roblabs.com"
            frameborder="0"
            style="border: solid 4px #3399ff"
    ></iframe>
  {% endif %}

  <hr>

  <article class="post-content">
    {{ content }}
  </article>
</div>
