---
layout: default
---
<div class="post" style="margin-left: 20px;margin-right: 20px;">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}
      {% if page.author %} • {{ page.author }}{% endif %}
      {% if page.tags %} • <i>{{ page.tags }}</i> {% endif %}
      {% if page.file_under %} • File under — <span style="font-size:10px; font-family: 'Roboto Mono';">{{ page.file_under }}</span>{% endif %}
    </p>
    <img style="max-height: 256px; max-width: 256px;" src="{{ page.excerpt_img }}" >
  </header>

  {% if page.youtube %}
    <iframe id="youtube-iframe"
            width="640" height="360"
            src="https://www.youtube.com/embed/{{ page.youtube }}?enablejsapi=1&origin=http://roblabs.com"
            frameborder="0"
            style="border: solid 4px #3399ff"
    ></iframe>
  {% endif %}

  <hr>

  <article class="post-content">
    {{ content }}
  </article>
</div>
